{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container text-center">

    <button type="button" class="btn btn-primary mb-2"><a class="text-white" href="/city">Afficher les villes</a></br></button></br>
    <button type="button" class="btn btn-warning mb-2"><a class="text-white" href="{{ path("city_add")}}">Ajouter une ville</a></br></button></br>
    <button type="button" class="btn btn-warning mb-2"><a class="text-white" href="{{ path("add_person")}}">Ajouter une personne</a></br></button></br>
    <button type="button" class="btn btn-primary mb-2"><a class="text-white" href="{{ path("to_do_lire") }}">Afficher les Taches</a></br></button></br>
    <button type="button" class="btn btn-warning mb-2"><a class="text-white" href="{{ path("to_do_add")}}">Ajouter une tache</a></br></button></br>
    <button type="button" class="btn btn-warning mb-2"><a class="text-white" href="{{ path("pays_pop", {'pays' : 'Chine'})}}">Population Chine</a></br></button></br>
    <button type="button" class="btn btn-warning mb-2"><a class="text-white" href="{{ path("pays_pop", {'pays' : 'France'})}}">Population France</a></br></button></br>
    <button type="button" class="btn btn-warning mb-2"><a class="text-white" href="{{ path("film", {'film' : 'Titanic'})}}">Film Titanic</a></br></button></br>
    <button type="button" class="btn btn-warning mb-2"><a class="text-white" href="{{ path("film", {'film' : 'Avatar'})}}">Film Avatar</a></br></button></br>


</div>
{% endblock %}
